@import "tailwindcss";

@theme {
  --color-primary: #000d65;
  --color-lightBlue: #015aff;
  --color-light: #ffffff;
  --color-yellow: #fda200;
  --color-darkBlue: #041341;
  --color-orange: #fa5008;
  --color-gray: #f6f9ff;

  --font-urbanist: "Urbanist" sans-serif;
  --font-mulish: "Mulish" sans-serif;
  --animate-bounce: bounces 0.3s 2;
}

:root {
  --tw-gutter-x: 1.5rem; /* 24px */
  --tw-gutter-y: 0;
}

.row2 {
}

@layer base {
  p,
  li,
  a {
    @apply text-base;
  }
}

@layer components {
  .container {
    @apply max-w-[90rem] p-4 w-full mx-auto place-content-center;
  }

  .header {
    @apply bg-lightBlue shadow-md relative text-light;
  }

  .header__navd {
    @apply hidden md:flex md:gap-10  text-center justify-between;
  }

  .branding {
    @apply md:flex md:flex-row md:gap-70;
  }

  .header__action .header__navm li {
    @apply border-b-gray-400 border-b-[2px] py-5 text-black;
  }

  .header__action {
    @apply bg-light absolute top-[60px] right-0 w-full h-auto p-4 
    origin-top scale-y-0 transition-transform duration-300 ease-in-out shadow-md z-50;
  }

  .header__action.open {
    @apply w-full h-screen transition-all scale-y-100;
  }

  .header__wrapper {
    @apply flex items-center justify-between md:justify-evenly;
  }

  .branding img {
    @apply w-30;
  }

  .header__action .header__navm li .icon {
    @apply flex justify-between text-center;
  }
  .header__reg {
    @apply border-[1px] bg-lightBlue py-3 px-4 rounded-sm border-transparent;
  }
  .header__reg a {
    @apply flex justify-between gap-2 items-center;
  }

  /* burger */

  .burger__menu {
    @apply md:hidden;
  }

  .burger__menu span {
    @apply w-[1.5rem] h-[.2rem] bg-light block rounded-full transition-all;
  }

  .burger__menu span:nth-child(2) {
    @apply my-1;
  }

  .burger__menu.open span:first-child {
    @apply transform translate-y-[9px] rotate-[225deg] transition-all;
  }

  .burger__menu.open span:nth-child(2) {
    @apply opacity-0 transition-all;
  }

  .burger__menu.open span:last-child {
    @apply transform translate-y-[-6px] rotate-[-225deg] transition-all;
  }

  /* cards */

  .cards__item {
    @apply rounded w-full mx-auto bg-light py-14 px-8 border-b-[5px] transition-all border-b-light hover:border-b-lightBlue;
  }
  .cards__item h3 {
    @apply font-semibold pt-4 text-2xl;
  }
  .cards__item img {
    @apply w-[50px] h-[50px];
  }

  /* Pricing */

  .pricing__card:hover img {
    @apply animate-bounce;
  }

  .pricing__card:hover ul li img {
    @apply animate-none;
  }

  .pricing__btn:hover a {
    @apply duration-300 hover:bg-gradient-to-r hover:from-blue-600 hover:to-blue-400 hover:border-transparent;
  }

  .pricing__btn i {
    @apply transform rotate-[45deg] text-lightBlue;
  }

  /* ABOUT */

  .about__box p {
    @apply flex items-center gap-2 mb-3;
  }

  .about__card {
    @apply rounded w-full mx-auto my-3  bg-gray py-14 px-8 border-b-[5px] transition-all border-b-lightBlue hover:border-b-orange-500;
  }

  .about__card h3 {
    @apply text-[43px] text-lightBlue font-semibold;
  }
  .about__card h3 i {
    @apply text-green-400 text-[22px] font-normal;
  }
  .about__card:hover h3 {
    @apply text-orange-500;
  }

  /* Categories */

  .categories__item {
    @apply rounded w-full mx-auto border-black bg-light py-5 px-8 mb-5;
  }

  .categories__item:hover img {
    @apply animate-bounce;
  }

  .categories__item h3 {
    @apply text-darkBlue font-semibold text-xl;
  }

  features__card {
    @apply rounded w-[335px] mx-auto bg-light ml-10 py-10 px-7 border-b-[5px] transition-all border-b-light hover:border-b-blue-500;
  }

  .features__card {
    @apply mb-5;
  }
}

@layer utilities {
  .bg-header {
    background-image: url("/dist/img/banner.jpg");
  }
}

@keyframes bounces {
  0%,
  100% {
    transform: none;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(15%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
